.col-md-8

  %h1.letterpress Heading

  %p
    Stuff here.

.col-md-4
  
  %p.pullquote
    "With trepidation, you leave the grassy plains of Thornbare behind and cut a path through the thick, unyielding brush. Just ahead, rising out of the gloom, is a towering wall of trees that forms the border between the world you know and that of the Brambles. Nature herself stands in silent awe as you wend your way into the forest, unaware of the horrors that await you there..."

