/*
  This CSS file is used only for the front-end application
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Ruthie);

body {
  padding-top: 250px;
  background: url('/assets/parchment_bg.jpg');
}

body .container {
  margin-left: 20px;
}

.pullquote {
  font-family: Ruthie, cursive;
  font-size: 26px;
  color: #600;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background: url('/assets/header_no_text.png') no-repeat;
  height: 220px;
  border-bottom: 0px;
}

.navbar-brand h1 {
  font-size: 72px;  
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 10px;  
  text-shadow: 0px 0px 10px rgba(0,0,0,1.0);
}

.navbar-brand h2 {
  font-size: 32px;
  margin-top: -.5em;
  margin-left: 10px;  
  color: rgba(0,0,0,0.65);
}

.navbar-fixed-bottom {
  background: url('/assets/footer.png') no-repeat;
  height: 90px;
  p {
    margin-top: 60px;
    margin-left: 50px;
  }
}

ul.nav {
  margin-left: 20px;
  margin-top: 5px;  
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

.panel-footer, .panel-heading {
  background-color: #dddddd !important;
}

code {
  display: block;
  padding: 1em;
  color: #000;
  background: #eee;
  margin: 0em 0em 1em 0em;
  border: 1px solid #ddd;
}

em {
  font-weight: bold;
  font-style: normal;
}

.no-decoration {
  text-decoration: none;
}

.panel-heading {
  font-weight: bold;
}

.jumbo {
  font-size: 120px;
  margin-bottom: 20px;
}

.letterpress {
  color: rgba(64,0,0,0.6) !important;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

a .glyphicon {
//  color: #fff;
}

.shaded {
  background-color: rgba(0,0,0,0.1) !important;
}

.shaded:hover {
  background-color: rgba(0,0,0,0.2) !important;
}

@import "bootstrap";

