/*
  This CSS file is used only for the back-end application (superuser)
*/

$btn-default-bg: #444444;
$btn-default-color: #fff;
$btn-primary-bg: #990000;
$btn-danger-bg: #cc0000;
$link-color: #990000;

@import "bootstrap"; 